# Ignore Jupyter checkpoints folder
.ipynb_checkpoints

# Ignore git attributes
.gitattributes

# Not ready to be added to git
hot_one_hundred_audio_features.xlsx
hot_stuff.csv
billboard-hot-100analysis.r
